body {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}

.questionField {
	margin: 50px auto;
	margin: 0 auto;
}

form {
	display: inline-block;

}

.wrapper {
	display: inline;
}

input {
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
}

p {
	border: 2px solid black;
	width: 200px;
	margin: 0 auto;
}